/*----homepage----*/

.main {
	background-color: #99ced3;
	width:100%;
	min-height: 900px;
	margin: auto;
}

/*---navbar----*/
#header {

	padding-left: 40px;
	padding-right: 30px;
}

a.logo{
	padding:3px 16px;
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
}
a.nav-link{
	font-family: 'Open Sans', sans-serif;
	color:white;
}

/*.navbar-light{
	
	padding:20px;
}*/
#footer {
	background-color:#4d6d9a;
	padding-top: 10px;
	color: white;
}
.login{
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
	color:white;
	border: none;

}
#heading{
	margin: 30px 0px 20px;
}
.card{
	height:600px;
	background-color: #86b3d1;
	overflow: scroll;
	outline: none;
	border-top: none;
	color:#5f6366;

}
.wrapper {
	width: 90%;
	margin: 0 auto;
}
ul {
	padding-left: 15px;
	list-style: none;
	display:flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
}
ul li{
	padding-left: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	align-items: center;

}
.card-title{
	font-family: 'Roboto Condensed', sans-serif;
}

.announcement-logo{
	display: inline-flex;
}
.btn-primary {
	border:none;
	color:#4d6d9a;
}

/* The popup form - hidden by default */
.form-popup{
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container, .new {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password], .new input[type=text], .new input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .new input[type=text]:focus, .new input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn, .new .btn  {
  background-color: #edb5bf;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel, .new .cancel {
  background-color:  #4d6d9a;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover, .new .btn:hover{
  opacity: 1;
}

.george {
	font-size:120px;
	position: relative;
	top: 100px;
	margin: 0 auto ;
	color:#e9ecef;
	font-family: 'Libre Caslon Text', serif

}
.back {
	width: 100%
	margin: 0 auto;
	text-align: center;
	font-size: 60px;
}

.item {
height: 300px;
width: 300px;
background-color: #e8efef;	
margin: 20px auto;
padding: 20px 40px;
border-radius:5px;
}

img {
	width: 90%;
	height: 90%;
	border-radius:50%;
	margin-left:10px;
}
.item-title {
	text-align: center;
	padding: 10px;
	color:#4d6d9a;
}
.classList{
	width: 70%;
	margin: 50px auto;

}
 .logout-item {
 	background-color: #edb5bf;
 	width: 100%;
 	height: 100%;
 	margin:0;
 }



.jumbotron.weatherbar{
	background-color: #99ced3;
	
	font-family: 'Faster One', cursive;
	color:#5f6366;
	height: 750px;

	padding: 20px;
}
.forecast {
	margin-top: 30px;
	margin-bottom: 15px;
}
.announcement,.categ {
	box-sizing: border-box;
	margin: 20px 0px 20px 0px;
	color:gray;
	
	padding: 40px 40px 30px 40px;
	font-family: 'Nunito', sans-serif;

}
.announcement-wrapper{
	width: 100%;
	justify-content: center;
}
.announcement {
	width: 80%;
	margin:10px auto;
	background-color: #86b3d1;
	border:1px solid #78909c;
	border-radius:20px;
	
}
.announcement h3 {
	color:#5f6366;
	margin-right: 20px;
}

.categ{
	margin-bottom: 30px;
	padding: 20px;

}
.categ h4 {
	text-align: center;

}


.new {
	
	margin: 50px auto;
	border: 3px solid #f1f1f1;
  	z-index: 9;
}

.form-inline .form-control{
	width: 100%;
}
.btn-button{
	background-color: #edb5bf;
}

/*----logo animation----*/
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.logo-img{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
;
	height: 60px;
	width: 60px;
}