
.main {
	margin-left: 40px;
	margin-right: : 40px;
}
#header {
	padding-left: 40px;
	padding-right: 30px;
}

a.logo{
	padding:3px 16px;
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
}
a.nav-link{
	font-family: 'Open Sans', sans-serif;
	color:white;
}

.navbar-light{
	background-color:#23629F;
	padding:0;
}
.login{
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
	color:white;
	border: none;

}
.card{
	height:400px;
	background-color: #e9ecef;
	overflow: scroll;

}
ol {
	padding-left: 15px;

}
ol li{
	padding-left: 10px;
	font-family: 'Roboto Condensed', sans-serif;

}
.card-title{
	font-family: 'Roboto Condensed', sans-serif;
}


/* Button used to open the contact form - fixed at the bottom of the page */
/*.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
*/
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color:  #F1D600;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.george {
	font-size: 60px;
	position: relative;
	top: 200px;
	margin: 0 auto ;
	color:#e9ecef;
}




/*
#center {
	padding-top: 15px;
}
#quote {
font-family: 'Courgette', cursive;

margin: 30px;
border: 5px solid red;
}
#heading{
	margin-top: 1rem;
}*/
/*.categ {
	background-color: #e9ecef;
	margin-top: 0;
	margin-bottom: 20px;
}
*/
/*.announcement{
	box-sizing: border-box;
	width: 100%;
	
	margin-right:18px;
}*/

./*jumbotron.weatherbar{
	padding: 20px;
}

.namelist .card{
	height: 350px;
	overflow: scroll;
}*/


/*@media (min-width: 576px){
	.jumbotron {
		background: RED;
   		padding: 0;
	}
}
*/



