{box-sizing: border-box;}

a.logo{
	padding:3px 16px;
	color: gray;
	border-radius: 50%;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
}
a.nav-link{
	font-family: 'Open Sans', sans-serif;
	color:gray;
}
.item {
width: 80%;
background-color: #e8efef;	
margin: 20px auto;
padding: 20px 40px;
}
.list{
	list-style: none;
}
.instruction{
	font-family: 'Roboto Condensed', sans-serif;
	padding: 20px 40px;
	text-align: center;
	font-size: 30px;



}


.form {
  
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;

  display: none;
  position: fixed;
 	top: 0;
  left: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Full-width input fields */
.form-container input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.open-button {
  background-color: pink;
  color: white;
  padding: 16px 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  justify-content: center;
  width: 150px;
  padding: 0;
  
  font-size: 20px;
}
.signUpButton{
	margin: 0 auto;
}
.btn.cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover {
  opacity: 1;
}